body{
    background-color: rgba(25, 25, 25, 1);
    margin: 0 auto;
    width: 1440px;
    padding: 43px 50px 127px 50px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    padding-bottom: 43px;
    width: 1440px;
}

.header-list{
    display: flex;
    gap: 40px;
    margin-left: 777px;
    padding: 0;
}

.header-item{
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.header-item:hover{
    color: rgba(17, 141, 168, 1);
    transition: 0.3s;
}

.main{
    padding: 40px 110px 0px 24px;
}

.hero{
    display: flex;
    align-items: center;
}

.hero-txt{
    font-family: DM Sans;
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 530px;
}

.txt-container{
    margin-left: 60px;
}

.next-txt::after{
    background-image: url('../images/line.png');
}

.level-txt{
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;

}

.socials-container{
    margin-top: 74px;
}

.socials-txt{
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.socials-list{
    display: flex;
    gap: 17px;
    padding: 0;
}

.episodes{
    padding-top: 93px;
    padding-bottom: 160px;
}

.latest-episodes{
    display: flex;
    align-items: center;
    margin-bottom: 66px;
    justify-content: start;
}

.episodes-txt{
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-right: 650px;
}

.episodes-btn{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    width: 178px;
    height: 51px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background-color: rgba(17, 141, 168, 1);
    color: rgba(255, 255, 255, 1);
    border-color: rgba(17, 141, 168, 1);
    margin: 0;
}

.episodes-list{
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-list{
    width: 1300px;
    top: -0.44px;
    gap: 0px;
    border-radius: 32px;
    opacity: 0px;
    background: rgba(0, 0, 0, 1);
}

.image-list{
    display: flex;
    align-items: center;
}

.image-item{
    margin: 40px;
}

.small-txt{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 73px;
    height: 27px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background-color: rgba(25, 25, 25, 1);
    text-align: center;
    margin-bottom: 48px;
}

.small-txt-tips{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 136px;
    height: 27px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background-color: rgba(25, 25, 25, 1);
    text-align: center;
    margin-bottom: 48px;
}

.episode-txt{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(17, 141, 168, 1);
    margin-bottom: 18px;
}

.episode-title{
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.559999942779541px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 28px;
    margin-top: 0;
}

.big-txt{
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    width: 767px;
    margin-bottom: 18px;
}

.episode-btn{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    width: 208px;
    height: 51px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background-color: rgba(17, 141, 168, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border-color:rgba(17, 141, 168, 1) ;
}

.form-container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.host{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.arrow-btn{
    width: 122px;
    height: 122px;
    background-color: #0097a7; /* Adjust to match the blue color */
    border: none;
    border-radius: 400px;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
}

.host-link{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(17, 141, 168, 1);
}

.host-name{
    font-family: DM Sans;
    font-size: 65px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 28px;
    margin-top: 25px;
}

.host-txt{
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 28px;
}

.form-form{
    width: 1300px;
    height: 387px;
    top: 100px;
    left: 50px;
    gap: 0px;
    border-radius: 32px;
    opacity: 0px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 200px;
    display: flex;
    gap: 227px;
}

.form-form::before{

}

.form-txt-div{
    margin-top: 60px;
    margin-bottom: 143px;
    margin-left: 60px;
}

.form-txt{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(17, 141, 168, 1);
    margin: 0;
}

.form-title{
    font-family: DM Sans;
    font-size: 72px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 75px;
}

.input{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    width: 522px;
    height: 82px;
    top: 0.13px;
    gap: 0px;
    border-radius: 6px;
    border: 1px;
    opacity: 0px;
    background-color: rgba(25, 25, 25, 1);
    border: 1px solid;
    border-color: rgba(25, 25, 25, 1);
    padding-left: 20px;
}

.input::placeholder{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.form-btn{
    width: 87px;
    height: 48px;
    top: 204.13px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background-color: rgba(17, 141, 168, 1);
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(17, 141, 168, 1);
    text-align: center;
}

.rating{
    padding-bottom: 100px;
    padding-top: 100px;
}

.rating-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.rating-item{
    width: 423px;
    height: 364px;
    gap: 0px;
    border-radius: 32px;
    opacity: 0px;
    background-color: rgba(0, 0, 0, 1);
}

.rating-title{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 19px;
    margin-left: 50px;
}

.rating-name{
    font-family: DM Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 50px;
}

.stars {
    color: gold;
    font-size: 24px;
    margin-bottom: 21px;
    margin-top: 54px;
    margin-left: 50px;
}

.footer{
    padding-top: 100px;
    padding-bottom: 116px;
    display: flex;
    gap: 16px;
}

.footer-logo{
    width: 448px;
}

.footer-socials{
    display: flex;
    gap: 17px;
    margin-top: 20px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 179px;
}

.footer-social-list{
    margin: 0;
}